body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 95vh;
}

html {
    background-color: rgb(189, 84, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 200px));
    grid-template-rows: min-content repeat(3,minmax(20px,200px));
    margin-top: 50px;
}

.player-names-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-column: 1/4;
    font-weight: 900;
    font-size: larger;
    margin-bottom: 10px;
}


#player-name-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 900;
}

button {
    border: 5px solid black;
    box-sizing: border-box;
}

button:active {
    transform: scale(0.98);
}

button[id$="confirm"] {
    border: none;
}

button[class$="-o"] {
    color: rgb(118, 228, 255);
    font-weight: 900;
    font-size: 1em;
    border: none;
    background-color: blueviolet;
}

button[class$="-x"] {
    color: rgb(225, 255, 0);
    border: none;
    font-weight: 900;
    font-size: 1em;
    background-color: blueviolet;
}

#start-button,
#restart-button,
#continue-button {
    border: none;
    font-weight: 900;
    font-size: large;
    background-color: blueviolet;
    color: yellow;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

#start-button:enabled:active,
#restart-button:active {
    box-shadow: 0 0 2.5px 2.5px black;
}

button:disabled {
    transform: none;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#nameOneWrapper,
#nameTwoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
